@model TipoTarea
@{
	ViewData["Title"] = "Eliminar tipo tarea";
}

<h3 class="mb-3">¿Estas seguro que deseas eliminar el registro @Model.Nombre?</h3>

<form asp-action="EliminarTipoTarea">
	<input type="hidden" asp-for="Id"/>
	<button type="submit" class="btn btn-danger">Borrar</button>
	<a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

